@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Regras de Impressão para Cupom Térmico */
@media print {
    /* Esconde tudo que não for o cupom */
    body * {
        visibility: hidden;
    }
    .print-only, .print-only * {
        visibility: visible;
    }
    .print-only {
        position: absolute;
        left: 0;
        top: 0;
        width: 80mm; /* Largura padrão térmica */
        margin: 0;
        padding: 0;
        display: block !important; /* Garante que apareça */
    }
    /* Remove cabeçalhos e rodapés do navegador (data, url) */
    @page {
        margin: 0;
        size: auto;
    }
}

/* Esconde o cupom na tela normal */
.print-only {
  display: none;
}
