@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Regras de Impressão para Cupom Térmico e Extratos */
@media print {
    /* Esconde tudo por padrão */
    body * {
        visibility: hidden;
    }

    /* Mostra apenas a seção de impressão e seus filhos */
    .print-section, .print-section * {
        visibility: visible;
    }
    .print-only, .print-only * {
        visibility: visible;
    }

    /* Posiciona a seção de impressão no topo */
    .print-section, .print-only {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; /* Ocupa a largura da página para extratos */
    }

    /* Especificidade para o cupom térmico */
    .print-only {
        width: 80mm;
        display: block !important;
    }

    /* Esconde elementos que não devem ser impressos */
    .no-print, .no-print * {
        display: none !important;
    }

    /* Remove margens da página para economizar papel */
    @page {
        margin: 0;
        size: auto;
    }
}

/* Esconde o layout de cupom na tela normal */
.print-only {
  display: none;
}
